body{
    padding: 24px;
}

form{
    justify-self: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form > *:valid{
    background-color: aliceblue;
}

form > *:invalid{
    background-color: red;
}